<br>
<div id="interior_content">
<h1>March 23, 2013</h1>
<hr>
<br>
<h3>Ceremony</h3>
Time: 4:30pm<br>
Location: Borgia Room, 2nd Floor<br>
<br>
<h3>Cocktails</h3>
Time: 5:15pm<br>
Location: Grand Ballroom Foyer and Italian Room, 2nd Floor
<br>
<br>
<h3>Reception</h3>
Time: 6:30pm<br>
Location: Alexandra's Ballroom, 32nd Floor<br>
</div>