<br>
<div id="interior_content">
<h1>March 23, 2013</h1>
<hr>
<h3 class="event_header">Ceremony</h3>
Time: 4:00pm<br>
Location: Borgia Room, Mezzanine, Landmark Building<br>
<br>
<h3 class="event_header">Group Picture</h3>
Time: 5:00pm<br>
Location: Colonial Room, Mezzanine, Landmark Building
<br>
<br>
<h3 class="event_header">Cocktails</h3>
Time: 5:10pm<br>
Location: Grand Ballroom Foyer and Italian Room, Mezzanine, Landmark Building
<br>
<br>
<h3 class="event_header">Reception</h3>
Time: 6:30pm<br>
Location: Alexandra's, 32nd Floor, Tower Building<br>
<br>
<br>
<br>
<h1>March 24, 2013</h1>
<hr>
<h3 class="event_header">Light Brunch</h3>
Time: 10:00am<br>
Location: Chairman's Suite, 3rd Floor, Landmark Building<br>
