<br>
<div id="interior_content">
<h1>March 23, 2013</h1>
<hr>
<h3 class="event_header">Ceremony</h3>
Time: 4:30pm<br>
Location: Borgia Room, 2nd Floor<br>
<br>
<h3 class="event_header">Cocktails</h3>
Time: 5:15pm<br>
Location: Grand Ballroom Foyer and Italian Room, 2nd Floor
<br>
<br>
<h3 class="event_header">Reception</h3>
Time: 6:30pm<br>
Location: Alexandra's, 32nd Floor<br>
<br>
<br>
<br>
<h1>March 24, 2013</h1>
<hr>
<h3 class="event_header">Brunch</h3>
Time: To be announced<br>
Location: To be announced<br>
