<div id="interior_content">
<br>
<h3 class="fancy">Hotel Accommodations</h3>
<b>Westin St. Francis</b><br>
335 Powell St.<br>
San Francisco, CA 94102<br>
(415) 397-7000<br>
<a href="http://www.westinstfrancis.com/">www.westinstfrancis.com</a>
<br><br>
We have reserved a block of rooms at the Westin for $219 per night for reservations that are made prior to 2/23/2012. To make a hotel reservation, please call 1-800-WESTIN1 (1-800-937-8461) and let them know that you'll be a part of the Lilly Ly/Bryan Vu Wedding. You can also use the Westin's <a href=#>online system</a>. The rates do vary, so we advise checking the site to see if better rates are available.
<br>
<br>
<br>
<h3 class="fancy">Alternate Accommodations</h3>
There are quite a few hotels located in and around the Union Square area. We've listed a few below. Also, the Westin St. Francis is located about two blocks from the Powell Street BART, Muni and Cable Car stops. Many hotels in San Francisco will have convienient access to Union Square via public transportation.<br>
<br>
<br>
<b>Sir Francis Drake Hotel</b><br>
450 Powell Street<br>
San Francisco, CA<br>
(415) 392-7755<br>
<a href="http://www.sirfrancisdrake.com">www.sirfrancisdrake.com</a><br>
<br>
<b>Hilton San Francisco Union Square</b><br>
333 O'Farrell Street<br>
San Francisco, CA 94102<br>
(415) 771-1400<br>
<a href="http://www3.hilton.com/en/hotels/california/hilton-san-francisco-union-square-SFOFHHH/index.html?009=p&008=&007=Search&006=9217371902&002=0022144778021606732&WT.srch=1&012=hiltonsanfranciscounionsquare">www.hilton.com</a><br>
<br>
<b>Parc 55 Wyndham San Francisco - Union Square</b><br>
55 Cyril Magnin Street<br>
San Francisco, CA<br>
(415) 392-8000<br>
<a href="http://www.parc55hotel.com">www.parc55hotel.com</a><br>
<br>
<br>
</div>