<div id="interior_content">
<br>
<h3>Our Story</h3>
We met and randomly ran into each other two Fridays in a row at different happy hours in the Summer of 2011 and have been thrilled to be together ever since. We got engaged at the top of the Eiffel Tower at around 1:00am on July 7th, 2012, shortly before this picture was taken.
<br>
<br>
<br>
<%= image_tag("eiffel.jpg", :id => "our_story_picture", :width => "500px") %>
<br>
<br>
</div>
