<div id="interior_content">
<br>
<h3 class="fancy">Registry</h3>
<br>
<a href="http://www1.bloomingdales.com/registry/wedding/guest/?registryId=173203">Bloomingdale's</a>
<br>
<br>
(Under Construction)
<br>
</div>