<div id="content_container">

<div id="headline_container"><%= image_tag("bryanandlilly.jpg", :id => "headline_image") %></div>



<div id="photo_container">

	<table id="menu">
		<tr>
			<th>
				About Us
			</th>
			<th>
				Bridal Party
			</th>
			<th>
				Ceremony
			</th>
			<th>
				Reception
			</th>
			<th>
				Hotel
			</th>
			<th>
				Registry
			</th>
		</tr>
	</table>
	<%= image_tag("birthday.jpg", :id => "main_photo", :width => '550px') %>
</div>

</div>