<div id="interior_content">
<%= image_tag("st_francis.jpg", :width => "630px") %></center>
<br>
<br>
<br>
<br>
Westin St. Francis<br>
335 Powell St.<br>
San Francisco, CA 94102<br>
(415) 397-7000<br>
<a href="http://www.westinstfrancis.com/">www.westinstfrancis.com</a><br>
<br>
<br>
<br>
<iframe width="400" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=The+Westin+St+Francis,+Powell+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=westin+&amp;sll=37.752258,-122.437477&amp;sspn=0.131655,0.208054&amp;ie=UTF8&amp;hq=The+Westin+St+Francis,+Powell+Street,+San+Francisco,+CA&amp;t=m&amp;ll=37.787742,-122.408423&amp;spn=0.01187,0.021458&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=The+Westin+St+Francis,+Powell+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=westin+&amp;sll=37.752258,-122.437477&amp;sspn=0.131655,0.208054&amp;ie=UTF8&amp;hq=The+Westin+St+Francis,+Powell+Street,+San+Francisco,+CA&amp;t=m&amp;ll=37.787742,-122.408423&amp;spn=0.01187,0.021458&amp;z=15&amp;iwloc=near" style="color:#0000FF;text-align:left">View Larger Map</a></small>
<br>
<br>
<br>
<h3>Driving Directions</h3>
<b>From East:</b>  Take Route 580 and cross the Bay Bridge, to the Fremont Street Exit on the right. Turn left onto Howard Street, and proceed 4 blocks to 3rd Street. Go right on 3rd Street and cross Market Street. Turn left onto Geary Street until you cross Powell Street. The Westin St. Francis "carriage entrance" is located on Geary, a half block past Powell Street.   <br>
<br>
<b>From San Francisco International Airport:</b> Take 101 North heading towards Highway 80 East/Bay Bridge and exit at 4th Street. Exit right onto Bryant and continue 1 block and turn left onto 3rd Street. Cross the Market Street intersection, and turn left onto Geary Street. The hotel is located just past Union Square, and The Westin St. Francis "carriage entrance" is located on Geary Street, a half block past Powell Street.  <br><br>

<b>From the Golden Gate Bridge (North):</b>  Cross the bridge and exit at Lombard Street. Turn right onto Van Ness, and left onto Bush. Turn right onto Powell, then make another right onto Geary Street. The Westin St. Francis "carriage entrance" is right off of Geary Street.

<br>
<br>
<h3>Parking options</h3>
Garage Parking available on-site at $40 for guests not staying overnight. Overnight rates: $51 + tax per night per car with in and out privileges.<br>
<br>
<a href="http://www.westinstfrancis.com/var/cdev_base/storage/original/application/44e375d524866b90592c675ae93fc9fb.pdf">Other Parking Options</a>