<div id="interior_content">
<br>
<h3>Wedding Party</h3>
<br>
<table id="wedding_party_table">
	<tr>
		<td class="wedding_party_data">
			<span class="wedding_party_header">Maid of Honor</span><br>
			Ennee Ly Ngoon, sister of the Bride<br>
			<br>

			<span class="wedding_party_header">Bridesmaid</span><br>
			Emly Ly<br>
			<br>

			<span class="wedding_party_header">Flower Girl</span><br>
			Karen<br>
			<br>

			<span class="wedding_party_header">Bride's Escorts</span><br>
			Lilly's Dad, father of the Bride<br>
			Lilly's Mom, mother of the Bride<br>
			Y.J. Kim, friend of the bride<br>
		</td>
		<td class="wedding_party_data">
			<span class="wedding_party_header">Best Man</span><br>
			Daniel Vu, brother of the Groom<br>
			<br>

			<span class="wedding_party_header">Groomsmen</span><br>
			Noah Ruderman, friend of the Groom<br>
			Scott Wiener, friend of the Groom<br>
			<br>
			<span class="wedding_party_header">Ring Bearer</span><br>
			Ethan, cousin of the Bride<br>
			<br>

			<span class="wedding_party_header">Officiant</span><br>
			Tasha Castaneda, friend of the Bride<br>
			<br>
		</td>
	</tr>
</table>
</div>