<div id="interior_content">
<br>
<%= image_tag("home_photo.jpg", :id => "main_photo") %>
<br>
<br>
<p id="welcome_paragraph">We are delighted to celebrate our wedding with all of our family and friends. For more information on events, locations, accommodations, etc. please click the links above.</p>
<br>
<div id="welcome_body_text">
If you have any questions please email us at:<br>
<a href="mailto:bryanvu@gmail.com">bryanvu@gmail.com</a><br>
<a href="mailto:lillyly@gmail.com">lillyly@gmail.com</a><br>
<br>
Sincerely,<br>
Lilly & Bryan<br>
</div>
</div>