<div id="interior_content">
<br>
<%= image_tag("bryannlilly.jpg", :id => "main_photo") %>
<br>
<br>
<p id="welcome_paragraph">Welcome! We are delighted to be celebrating our wedding with our family and friends. For more information on events, locations, accommodations, etc. please click the links above.</p>
<div id="welcome_body_text">
Also, all guests attending are invited to help us capture the wedding day with your own pictures using <%= link_to "WedPics", wedpics_path, :class => "wed_pics" %>!
	<ul type="square">
		<li>
			Download the FREE iPhone or Android App
		</li>
		<li>
			Use our access code, <b>LillyBryan</b>, to join our wedding album and share all your pictures you take all weekend!
		</li>
		<li>
			You can also upload pictures after the wedding on  <a href="http://www.wedpics.com" class="wed_pics">wedpics.com</a>.
		</li>
	</ul>
If you have any questions, please e-mail us at
<a href="mailto:bryanvu@gmail.com">bryanvu@gmail.com</a> or <a href="mailto:lillyly@gmail.com">lillyly@gmail.com</a>.<br>
<br>
<br>
Sincerely,
<p class="names">Lilly & Bryan</p>
<br>

</div>
</div>