/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
	background-image:url('wallpaper.jpg');
	font-family: timesnewroman;
	color: #6B5D52;
}

div#outer_container {
	border-style: double;
	width: 800px;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	margin-bottom: 150px;	
	border-color: #6B5D52;
	border-width: 10px;
	padding-top: 20px;
}

a.top_nav {
	color: #6B5D52;
	text-decoration: none;	
	font-weight: normal;
}

a {
	font-weight: normal;
	text-decoration: underline;
	color: #6B5D52;
}

div#content_container {
	margin-top: 25px;
	margin-bottom: 50px;
	margin-left: 50px;
	margin-right: 50px;
}

div#interior_content {
	margin-left: auto;
	margin-right: auto;
	width: 630px;
}

table#menu {
	width: 650px;
	margin-left: auto;
	margin-right: auto;
}

table#menu th {
	font-weight: normal;
	font-variant: small-caps;
	font-size: 13pt;
}

h1 {
	font-variant: small-caps;
}

IMG#headline_image {
    display: block;
	margin-left: auto;
	margin-right: auto;
}


