/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
	background-image:url('wallpaper.jpg');
	font-family: "Times New Roman";
	color: #6B5D52;
}

div#outer_container {
	border-style: double;
	width: 800px;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	margin-bottom: 150px;	
	border-color: #6B5D52;
	border-width: 10px;
	padding-top: 20px;
}

a.top_nav {
	color: #6B5D52;
	text-decoration: none;	
	font-weight: normal;
}

a {
	font-weight: normal;
	text-decoration: underline;
	color: #6B5D52;
}

p#welcome_paragraph:first-letter {
	font-size: 4em;
	font-family: 'Edwardian Script ITC', 'Miss Fajardose', cursive;
	font-weight: normal;
}

p#welcome_paragraph:first-line { 
	line-height: 100%; 
}

p#welcome_paragraph {
	margin-left: 30px;
	text-indent: -30px;
}

p#names {
	font-size: 2em;
	font-family: 'Edwardian Script ITC', 'Miss Fajardose', cursive;
	margin-left: -10px;
}

h1:first-letter {
	font-size: 2em;
	font-family: 'Edwardian Script ITC', 'Miss Fajardose', cursive;
	font-weight: normal;
}

h1:first-line { 
	line-height: 100%; 
}

h1 {
	margin-left: -15px;
}


h3.fancy:first-letter {
	font-size: 3em;
	font-family: 'Edwardian Script ITC', 'Miss Fajardose', cursive;
	font-weight: normal;
}

h3.fancy:first-line { 
	line-height: 100%; 
}

h3.fancy {
	margin-left: -15px;
}

div#content_container {
	margin-top: 25px;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
}

div#welcome_body_text {
	margin-left: 30px;
}

div#interior_content {
	margin-left: auto;
	margin-right: auto;
	width: 630px;
}

table#menu {
	width: 650px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

table#menu th {
	font-variant: small-caps;
	font-size: 13pt;
	font-weight: bold;
}

table#wedding_party_table {
	width: 630px;
}

td.wedding_party_data {
	width: 315px;
	text-align: top;
}

h1 {
	font-variant: small-caps;
}

span.wedding_party_header {
	font-weight: bold;
}

img#headline_image {
    display: block;
	margin-left: auto;
	margin-right: auto;
}

img#our_story_picture {
	display: block;
	margin-left: auto;
	margin-right: auto;
}


