/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body {
  background-image: url("wallpaper.jpg");
  font-family: "Times New Roman";
  color: #6b5d52;
  background-color: white; }

div#outer_container {
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-color: #6b5d52;
  border-style: double;
  width: 850px;
  margin-top: 100px;
  margin-bottom: 150px;
  border-width: 10px;
  padding-top: 20px; }
div#content_container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 50px; }
div#welcome_body_text {
  margin-left: 40px;
  margin-right: 40px; }
div#interior_content {
  margin-left: auto;
  margin-right: auto;
  width: 630px; }

table#menu {
  margin-left: auto;
  margin-right: auto;
  width: 750px;
  margin-top: 10px; }
table#wedding_party_table {
  width: 650px;
  vertical-align: top; }

span.wedding_party_header {
  font-weight: bold; }

img#main_photo {
  margin-left: auto;
  margin-right: auto;
  margin-left: -10px;
  margin-bottom: 40px;
  width: 630px;
  border: 5px solid #887668;
  -moz-box-shadow: 5px 5px 5px #888888;
  -webkit-box-shadow: 5px 5px 5px #888888;
  box-shadow: 5px 5px 5px #888888; }
img#headline_image {
  margin-left: auto;
  margin-right: auto;
  display: block; }
img#our_story_picture {
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: 1px solid #6b5d52;
  padding: 5px; }

a {
  color: #6b5d52;
  text-decoration: underline; }
  a.top_nav {
    color: #6b5d52;
    text-decoration: none;
    font-weight: bold;
    font-variant: small-caps;
    font-size: 13pt; }
  a:hover {
    text-decoration: underline; }
  a.wed_pics {
    font-weight: bold; }

p#welcome_paragraph {
  margin-left: 40px;
  margin-right: 40px; }
  p#welcome_paragraph:first-letter {
    font-size: 3.5em;
    font-family: "Pinyon Script", cursive;
    letter-spacing: -5px; }
  p#welcome_paragraph:first-line {
    line-height: 100%; }
p.names {
  font-size: 1.5em;
  font-family: "Pinyon Script", cursive;
  line-height: 0; }

li {
  margin-left: -20px; }

h1 {
  margin-left: -10px;
  font-weight: normal;
  font-variant: small-caps; }
  h1:first-letter {
    font-size: 2em;
    font-family: "Pinyon Script", cursive;
    font-weight: normal;
    letter-spacing: -6px; }
  h1:first-line {
    line-height: 100%; }

h3.fancy {
  margin-left: -5px;
  font-weight: normal; }
  h3.fancy:first-letter {
    font-size: 3em;
    font-family: "Pinyon Script", cursive;
    font-weight: normal;
    letter-spacing: -3px; }
  h3.fancy:first-line {
    line-height: 100%; }

.ss-required-asterisk {
  color: #c43b1d; }

.ss-form-entry {
  margin-bottom: 1em; }

.ss-q-help {
  display: block;
  margin: 0.3em 0 0.75em 0;
  font-size: .9em; }

.ss-q-title {
  display: block;
  font-weight: bold; }

.ss-choices {
  list-style: none;
  margin: 0.5em 0 0 0;
  padding: 0; }

.ss-choice-item {
  margin-left: .5em;
  line-height: 1.3em;
  padding-bottom: 0.5em; }

.ss-q-short {
  width: 300px; }

input, select, textarea, option {
  font-family: inherit;
  font-size: inherit;
  color: #6b5d52; }

input {
  line-height: 125%; }

#submit {
  background-color: #6b5d52;
  font-family: "Pinyon Script", cursive;
  font-size: 1.5em;
  font-weight: bold;
  color: #fff;
  width: 90px;
  height: 45px;
  padding-top: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; }
  #submit:hover {
    background-color: #AAA;
    font-weight: bold;
    color: #6b5d52;
    cursor: pointer; }
